

table.jCalendar {
	border: 1px solid #000;
	background: white;
    	border-collapse: separate;
    	border-spacing: 2px;
}
table.jCalendar th {
	background: #2c3c42;
	color: white;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #adc6de;
	color: #2c3c42;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #e0dfe3;
	color: #aaa;
}
table.jCalendar td.today {
	background: #7f9db9;
	color: #2c3c42;
}
table.jCalendar td.selected {
	background: #e0dfe3;
	color: #2c3c42;
}
table.jCalendar td.selected.dp-hover {
	background: #e0dfe3;
	color: #2c3c42;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #e0dfe3;
	color: #2c3c42;
}
table.jCalendar tr.selectedWeek td {
	background: #e0dfe3;
	color: #2c3c42;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #e0dfe3;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #e0dfe3;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #e0dfe3;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #2c3c42;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}