html {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
	text-decoration: none;
	color:  #666;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 30;
	background: #E7E8E8;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	background: #E7E8E8 url(../images/bg-gray-texture.jpg) repeat top left;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	margin: 0 auto -2em;
	height; 120px;
	background-image: url("../images/back-header.jpg");
	background-repeat: repeat-x;
}

table {
			border-collapse: collapse;
}

.push {
	height: 2em;
}

.footer {
	height: 3em;
	font-size: 80%;
	text-align: center;
	/*-*/width: 100%;
	font-style: italic;
	text-align: center;
}

a {
	color:#4d4d4d;
}

a:active {color:#94a9be;}
a:focus {color:#94a9be; outline: none; -moz-outline-style: none;}

a.bigLink {font-size:103%; }
a.helpfulLink {color:#526972;}

.smallText{color:#3D545D;font-size:92%;}

.smallerText {
	color: #3D545D;
	font-size: 85%;
	font-weight: bold;
}

.redText{color:red}
.smallRedText{font-size:85%;color:red;}
.darkRedText{color:#7a0026;}
.bigDarkRedText{font-size:125%; color:#7a0026;}
.smallDarkRedText{font-size:85%;color:#7a0026;}
.normalText{color:#3D545D}
.smallBlueText{font-size:85%;font-weight:normal; color:#526972}
.smallGreyText{font-size:85%;font-weight:normal; color:gray}
.boldBlueText{font-weight:bold; color:#526972;}
.boldText{font-weight:bold;}
.bigBlueText{font-size:125%; color:#526972;}
.headerText {font-size:125%;font-weight:bold; }



img {border:0;}
fieldset {border:0;}


select option { color: #3D545D; font-family: "arial"; font-size: 95%; margin:1px; }
.optionStyle { color: #3D545D; font-family: "arial"; font-size: 8pt; font-weight: medium; }


input, select, multiple, textarea{color: #3D545D; font-family: "arial"; font-size: 95%; font-weight: medium;}


/* following is for the right panel (helpful links) in the resource page
*************************/
div.rightPanel a {color:#3D545D;text-decoration:none;}
div.rightPanel a:active {color:#526972;}
div.rightPanel a:hover {color:#526972;text-decoration:underline;}
div.rightPanel a:focus {color:#526972;outline: none;}
div.rightPanelHeader{font-weight:bold; color:#526972; margin-bottom:2px; }
div.rightPanelLink{margin-bottom:4px; margin-left:5px; font-size:90%; }




/* following is all for queue page
*************************/

div.queueRightHeader{
			font-size: 135%;
			color: #3D545D;
			margin-bottom: 5px;
}

div.queueMenuLink a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

div.queueMenuLink a:hover {
	color: #ccc;
}

table.queueMenuTable {
	margin-right: 10px;
}

table.queueMenuTable td {
	padding: 10px;
	background-color: #1b77aa;
	border-bottom: 1px solid #5295ba;
	width: 150px !important;
}

table.queueMenuTable td.selected {
	background-color: #DAE6EA;
	width: 150px;
	vertical-align: top;
	text-align: left;
	color: #fff;
}

table.queueMenuTable td.selected:last-child {
	border-bottom: 1px solid #DAE6EA;
}

table.queueMenuTable td.selected a {
	/color: #1b77aa !important;
	text-decoration: none;
}

table.queueMenuTable tr {
	vertical-align:top;
}


td.queueRightPanel {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: white;
	vertical-align:top;
	padding: 20px;
}



table.queueDataTable {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:95%;
	margin-bottom:5px;
}

table.queueDataTable td {
	margin: 0;
	padding: 3px 3px 3px 3px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: white;
	-moz-border-radius: 0px;
}

table.queueDataTable th {
	margin: 0;
	padding: 2px 3px 2px 2px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: #f6f8fa;
	-moz-border-radius: 0px;
}

table.queueDataTable tr {
	vertical-align:top;
}










/* following is all for admin and queue pages
*************************/
div.adminRightHeader{font-size:135%; color:#3D545D; margin-bottom:5px; }
div.adminMenuLink a {color:#707172;text-decoration:none;}
div.adminMenuLink a:active {color:#3D545D;}
div.adminMenuLink a:hover {color:#526972;text-decoration:underline;}
div.adminMenuLink a:focus {color:#3D545D; outline: none; font-weight:bold;}


table.adminMenuTable {
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:95%;
	background-color: #f6f8fa;
}

table.adminMenuTable td {
	margin: 0;
	padding: 3px 3px 3px 3px;
	background-color: #f6f8fa;
			border-top: 1px solid #e6e5e9;
			vertical-align:top;
	-moz-border-radius: 0px;
}


table.adminMenuTable td.selected {
	margin: 0;
	padding: 3px 3px 3px 3px;
			border-top: 1px solid #e6e5e9;
			background-color: #f2f5f7;
			background-image:url('../images/tab.gif');
			background-repeat:no-repeat;
	background-position:right top;
	-moz-border-radius: 0px;
}


table.adminMenuTable td.selected a {color:#526972;text-decoration:none; font-weight:bold;}
table.adminMenuTable td.selected a:active {color:#526972;}
table.adminMenuTable td.selected a:hover {color:#526972;text-decoration:underline;}
table.adminMenuTable td.selected a:focus {color:#526972;outline: none;}



table.adminMenuTable tr {
	vertical-align:top;
}


td.adminRightPanel {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: white;
	vertical-align:top;
	padding: 15px 30px;
	/*-*/width: auto !important;
	/*-*/display: block;
	/*-*/margin-left: 20px !important;
}



table.linedDataTable {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:95%;
	margin-bottom:5px;
	/*-*/width: 100% !important;
}

table.linedDataTable td {
	margin: 0;
	padding: 3px 3px 3px 3px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: white;
	-moz-border-radius: 0px;
}

table.linedDataTable td.complete {
	background-color: #f4f4f4;
}


table.linedDataTable th {
	margin: 0;
	padding: 2px 3px 2px 2px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: #f6f8fa;
	-moz-border-radius: 0px;
}

table.linedDataTable tr {
	vertical-align:top;
}

/*--- Prevent Table Cell from Being Too Long ---*/

#fund-short-name {
	word-break: break-all;
}

/* use floating divs instead of tables in some cases
*************************/
div.f1 { float: left; }
div.f2 { float: left; }
div.f3 { clear: both; }





.checkboxes label{
		display: block;
		float: left;
		padding-right: 10px;
		white-space: nowrap;
}

.checkboxes input{
		vertical-align: middle;
}

.checkboxes label span{
		vertical-align: middle;
}



table#title {padding:0px; background-image:url('../images/organizationstitle.jpg');background-repeat:no-repeat;height:120px;width:900px;}

table.headerTable {
	padding: 1px;
	width: 1024px;
	min-height:40px;
	background: none !important;
	border-collapse: collapse;
}



hr {
	border:0;
	border-bottom: 1px solid #e0dfe3;
	height: 0;
	width: auto !important;
	background: #e0dfe3;
}

span.searchLetter {
			margin: 0px;
			padding-left: 1px;
			padding-right: 1px;
			color: #fff;
			font-family: Courier, monospace;
}

span.searchLetter a {
			color: #fff;
}

span.searchLetterSelected {
			margin: 0px;
			padding-left: 1px;
			padding-right: 1px;
			background-color: #A9D0E0;
			color: #fff;
}

span.searchLetter a:hover {
			text-decoration: none;
			background-color: #4d4d4d;
			margin: 0px;
}

span.searchLetterSelected a:focus{color:#3D545D;}
span.searchLetterSelected a:active{color:#3D545D;}

#search_box {
		width: 170px;
		height: 19px;
		background: url('../images/searchbox.gif');
}
#search_box #search_organization {
		float: left;
		padding: 0;
		margin: 2px 0 0 6px;
		border: 0;
		width: 159px;
		background: none;
}
#search_box #go {
		float: right;
		margin: 3px 4px 0 0;
}



/* Coral Change Module Menu  -  tabs
*************************/

ul.tabs{
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

ul.tabs li{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	float: left;
	position: relative;
	width: 150px;
	height: 40px;
}

ul.tabs a{
	position: relative;
	display: block;
	text-decoration: none;
}

/* Coral Change Module Menu  -  coraldropdowns
*************************/

ul.coraldropdown{
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	z-index: 999;
	top: 100%;
	width: 154px;
	display: none;
	left: 0;
}

ul.coraldropdown ul.coraldropdown{
	top: 0;
	left: 95%;
}

ul.coraldropdown li{
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style: none;
	display: block;
	height: 40px;
	width: 154px;
	border-top: solid 1px #5a5a5a;
}

ul.coraldropdown li:first-child {
	border-top: solid 1px #6195B2;
}

ul.coraldropdown li a {
	display: block;
	line-height: 23px;
	background-color: #4d4d4d;
	background-repeat: no-repeat;
	padding-left: 0px;
}


ul.coraldropdown li a:hover{
	background-color: #1b76a9;
	cursor: pointer;
}



/* More Custom classes...
*************************/


div.grayBorder {
	border-width: 1px;
	border-style: solid;
	border-color: #e0dfe3;
}

table.dataTable {
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #e0dfe3;
	border-collapse: collapse;
	border-spacing: 0;
	max-width:840px;
	width:840px;
	font-size:90%;
	margin-top: 11px;
	margin-bottom: 10px;
}


table.dataTable td {
	margin: 0;
	padding: 6px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #e0dfe3;
	-moz-border-radius: 0px;
	vertical-align: middle;
	background-color: #f3f3f3;
}



table.dataTable td.alt {
	margin: 0;
	padding: 6px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #e0dfe3;
	background-color: #fff;
	-moz-border-radius: 0px;
	vertical-align: middle;
}

table.dataTable th {
	margin: 0;
	padding: 6px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #C9C9C9;
	background-color: #CAD7E1;
	-moz-border-radius: 0px;
	vertical-align: middle;
	font-weight: 300;
	color: #000;
	background: rgba(200, 200, 200, 0.5) url(../images/bg-diagonal-stripes.png) repeat top left !important;
	border-bottom: 1px solid #C9C9C9 !important;
}

table.dataTable tr {vertical-align: top;}





table.sample {
	padding:0px;
	margin:0px;
	border-width: 0px;
	border-spacing: 0px;
	border-style: inset inset inset inset;
	border-color: white;
	border-collapse: collapse;
	background-color: white;
}

table.sample td.main {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: gray gray gray white;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.sample td.selected {
	width:110px;
	height:15px;
	border-width: 1px 0px 1px 1px;
	padding: 8px 3px 8px 3px;
	border-style: solid solid solid solid;
	border-color: gray white gray gray;
	-moz-border-radius: 0px 0px 0px 0px;

}

table.sample td.unselected {
	width:110px;
	height:15px;
	border-width: 1px 1px 1px 1px;
	padding: 8px 3px 8px 3px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	background-color: #adc6de;
	-moz-border-radius: 0px 0px 0px 0px;

}


table.sample td.bottom {
	width:90px;
	height:auto;
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: white gray white white;
	-moz-border-radius: 0px 0px 0px 0px;

}


.sidemenu{
		background-color: #1b77aa;
			width: 120px;
		vertical-align: top;
		text-align: left;
		font-size: 12px;
		color: #fff;
		margin-right: 10px;
}

.sidemenu a:link {
		text-decoration: none;
		color: #fff;
}

.sidemenu a:hover {
			text-decoration: none;
			color: #ccc;
}


.sidemenu span.icon{
	display: none;
}

.sidemenuselected {
		padding: 10px;
		border-bottom: 1px solid #1b77aa;
		background-color: #DAE6EA;
		width: 150px !important;
}

.sidemenuselected:last-child {
		border-bottom: 1px solid #DAE6EA ;
}

.sidemenuunselected {
		padding: 10px;
		border-bottom: 1px solid #5295ba;
		width: 150px !important;
}

.sidemenuselected a {
			color: #1b77aa !important;
}

.mainContent{
		background-color: #f9fafb;
		text-align:left;
		vertical-align: top;
		border: solid 1px #e0dfe3;
}



.printContent{
		padding: 24px 24px 24px 24px;
		background-color: white;
		text-align:left;
		background-color: white;
		vertical-align: top;
		
}



table.formTable td {
	margin:4px;
	padding:4px;
}

table.formTable tr {
	vertical-align:top;
}


table.formTable td.alt {
	margin:4px;
	padding:4px;
	background-color:#f0f2f4;
}


table.verticalFormTable {
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #e0dfe3;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:90%;
}

table.verticalFormTable td {
	margin: 0;
	padding: 3px 3px 3px 3px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #e0dfe3;
	background-color: white;
	-moz-border-radius: 0px;
}

table.verticalFormTable th {
	margin: 0;
	padding: 2px 3px 2px 2px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #e0dfe3;
	background-color: #e5ebef;
	-moz-border-radius: 0px;
}


table.verticalFormTable tr {
	vertical-align:top;
}


table.verticalFormTable td.complete {
	background-color:#f2f5f7;
}

table.verticalFormTable td.outstanding {
	background-color:#fdf2e7;
}




table.linedFormTable {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:90%;
	margin-bottom: 10px !important;
}

table.linedFormTable td {
	margin: 0;
	padding: 6px;
	border: solid 1px #e6e5e9;
	background-color: white;
	-moz-border-radius: 0px;
}


table.linedFormTable td.bottom {
	margin: 0;
	padding: 6px;
	border: solid 1px #e6e5e9;
	background-color: white;
	-moz-border-radius: 0px;
}

table.linedFormTable th {
	margin: 0;
	padding: 6px;
	border: solid 1px #e6e5e9;
	background-color: #e9edf0;
	-moz-border-radius: 0px;
	background: rgba(200, 200, 200, 0.5) url(../images/bg-diagonal-stripes.png) repeat top left !important;
}


table.linedFormTable tr {
	vertical-align:top;
}


table.linedFormTable tr.lightGrayBackground td {
	background-color:#ebebeb;
}

table.linedFormTable td.outstanding {
	background-color:#fdf2e7;
}


div.formTitle {
	width: auto !important;
	margin: 0;
	padding: 6px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: #cad7e1;
	-moz-border-radius: 0px;
	background: rgba(200, 200, 200, 0.5) url(../images/bg-diagonal-stripes.png) repeat top left !important;
	font-size: 125%
	font-weight: bold;
}


span.surroundBoxTitle {
	background-color:white;
	position:relative;
	top:8px;
	left:5px;
	font-size:110%;
}


table.surroundBox {
	border-width: 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:100%;
	width: 370px !important;
}

table.surroundBox td {
	margin: 0;
	padding: 3px;
	background-color: white;
	-moz-border-radius: 0px;
}

table.surroundBox tr {
	vertical-align:top;
}



table.surroundForm {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:100%;
}

table.surroundForm td {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 5px;
	background-color: white;
	-moz-border-radius: 0px;
}

table.surroundForm tr {
	vertical-align:top;
}









table.borderedFormTable {
	border-width: 0;
	border-style: solid;
	border-color: #5295ba;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:90%;
}

table.borderedFormTable td {
	margin:3px;
	padding:3px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #6195B2;
	background-color: #1B77AA;
	-moz-border-radius: 0px;
}

table.borderedFormTable td.alt {
	margin:3px;
	padding:3px;
	border: solid 1px #e0dfe3;
	background-color: #f4f8fc;
	-moz-border-radius: 0px;
}


table.borderedFormTable td.searchRow {
	margin: 3px;
	padding: 10px;
	background-color: #1B77AA;
	-moz-border-radius: 0px;
}

table.borderedFormTable td.searchRow label b {
			color: #fff;
			font-weight: 100;
			font-size: 11px;
}

table.borderedFormTable th {
	margin:3px;
	padding:3px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #e0dfe3;
	background-color: white;
	-moz-border-radius: 0px;
}

table.borderedFormTable tr {vertical-align: top;}





table.borderedHeadTable {
	width:947px;
	border-width:  0 0 1px 1px;
	border-style: solid;
	border-color: #e0dfe3;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:110%;
	text-align:center;
	color:white;

}

table.borderedHeadTable td {
	margin:3px;
	padding:3px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #b0932c;
	background-color: #adc6de;
	-moz-border-radius: 0px;
}

table.borderedHeadTable tr {
	vertical-align:middle;
}



table.noBorder td { border:0; }
table.smallPadding td{ padding:1px; }

table.noMargin { border:0px;margin:0px; padding:0px;text-align:center; }
table.noMargin tr { border:0px;margin:0px; padding:0px; vertical-align:center; }
table.noMargin td { border:0px;margin:0px; padding:0px; }


.formText {font-weight:bold;}


div.thickboxDiv{display:none;}

table.thickboxTable{
	padding:6px;
	text-decoration: none;
	color:  #2c3c42;
	font-family: "arial";
	font-size: 8pt;
	font-weight: heavy;
}

table.thickboxTable td{
	padding:1px;
}

.smallText{font-size:small;}

.infoText{font-size:small;font-weight:normal; color:gray}
.span_CancellationNumber{font-size:small;font-weight:normal; color:gray}
.span_CurrentQueue{font-size:small;font-weight:normal; color:gray}

table.noBorderTable {padding:0px; width:100%; border-style:none;}
table.noBorderTable td {padding:0px; border-style:none; vertical-align:middle;}
table.noBorderTable td.alt {padding:0px; border-style:none; vertical-align:middle;background-color: #f5f8fa;}

ul li {	margin-left: 1.5em;}



a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url('../images/calendar.gif') no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
	* has run (to allow space for the calendar icon
	*/
input.dp-applied {
	width: 140px;
	float: left;
}

.adminAddInput{margin-top:5px;}
.licenseAddInput{margin-top:5px;margin-bottom;5px;}



.changeInput{
	padding:1px;
	outline:none;
}

select.changeSelect{
	padding:0px;
}

select option.changeSelect{
	padding:0px;
}

.changeDefault{
	padding:2px;
	outline:none;
	background:#f5f8fa;
	border: solid 1px #a5acb2;
	color: #526972;
}

.focusField{
	border:solid 1px #526972;
	background:#f5f8fa;
	color:#2c3c42;
}
.idleField{
	background:#fbfbfb;
	color: #526972;
	border: solid 1px #a5acb2;
}

.changeAutocomplete{
	padding:2px;
	outline:none;
	background:#f5f8fa;
	border: solid 1px #a5acb2;
	color: #526972;
}


.changeDefaultWhite{
	border: solid 1px #a5acb2;
	color: #526972;
}

/*--- Additional Custom CSS ---*/

.titleTable {
			height: 120px;
			margin-bottom: 25px;
}

.titleTable td {
			height: 40px !important;
			padding-top: 20px !important;
}

.titleTable td a {
			padding-left: 0px;
}

.titleTable ul.tabs {
			padding-right: 15px;
}

.titleTable tr:first-child td div {
			padding-right: 20px;
}

.titleTable tr:first-child td div a:hover {
			color: #ccc;
}

#menu-end {
			display: none;
}

.noBorder > tbody > tr > td:nth-child(1) {
	width: 100px !important;
	padding-bottom: 20px;
	padding-left: 20px;
}

a.newSearch:hover {
			color: #ccc;
}

a#showMoreOptions:hover {
			color: #ccc;
}

#hideShowOptions {
			padding: 10px;
}

#div_searchName {
			margin-left: 0 !important;
			margin-top: 6px;
}

#div_searchISBNOrISSN {
			margin-left: 0 !important;
			margin-top: 6px;
}

#div_searchFund {
			margin-left: 0 !important;
			margin-top: 6px;
}

#div_searchID {
			margin-left: 0 !important;
			margin-top: 6px;
}

#div_searchResourceNote {
			margin-left: 0 !important;
			margin-top: 6px;
}

.searchButton {
			text-transform: uppercase;
}

#searchResourceIDButton {
			text-transform: uppercase;
}

#searchCreateDateEnd {
			margin-left: 7px;
			margin-bottom: 10px;
}

img[src*="menu-bar.gif"] {
		display: none;
}

img[src*="arrowup.png"] {
		padding-left: 6px;
}

.noBorderTable td {
			vertical-align: middle !important;
}

/*--- Table Column Widths ---*/

table.dataTable th:nth-of-type(1) {
			min-width: 36px;
}

table.dataTable th:nth-of-type(2) {
			min-width: 250px;
}

table.dataTable th:nth-of-type(3) {
			min-width: 68px;
}

table.dataTable th:nth-of-type(4) {
			min-width: 100px;
}

table.dataTable th:nth-of-type(5) {
			min-width: 120px;
}

table.dataTable th:nth-of-type(6) {
			min-width: 68px;
}

/*-----*/

#div_searchResults > span:nth-child(2) {
			padding-right: 20px;
}

a.setPage:hover {
			text-decoration: none;
			color: #ccc;
}

.noBorderTable tr td {
			background: none;
}

/*--- Links with Icons ---*/

a.newSearch:before {
	font-family: FontAwesome;
	content: "\f00e";
	font-size: 11px;
	margin-right: 3px;
}

a.newSearch {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.newSearch:hover {
			color: #ccc;
}

a#logout:before {
	font-family: FontAwesome;
	content: "\f007";
	font-size: 11px;
	margin-right: 3px;
}

a#logout {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
			position: relative;
			top: 4px;
			left: -4px;
}

a#logout:hover {
			color: #ccc;
}

a#showMoreOptions:before {
	font-family: FontAwesome;
	content: "\f055";
	font-size: 11px;
	margin-right: 3px;
}

a#showMoreOptions {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a#showMoreOptions:hover {
			color: #ccc;
}

#print-view a:before {
	font-family: FontAwesome;
	content: "\f02f";
	font-size: 11px;
	margin-right: 3px;
}

#print-view a {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

#print-view a:hover {
			color: #ccc;
}

/*--- Resources Side Menu Icons ---*/

a.showProduct:before {
	font-family: FontAwesome;
	content: "\f02d";
	font-size: 11px;
	margin-right: 5px;
}

a.showProduct {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.showProduct:hover {
			color: #ccc;
}

a.showAcquisitions:before {
	font-family: FontAwesome;
	content: "\f12e";
	font-size: 11px;
	margin-right: 5px;
}

a.showAcquisitions {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.showAcquisitions:hover {
			color: #ccc;
}

a.showAccess:before {
	font-family: FontAwesome;
	content: "\f13e";
	font-size: 11px;
	margin-right: 5px;
}

a.showAccess {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.showAccess:hover {
			color: #ccc;
}

a.showCataloging:before {
	font-family: FontAwesome;
	content: "\f00b";
	font-size: 11px;
	margin-right: 5px;
}

a.showCataloging {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.showCataloging:hover {
			color: #ccc;
}

a.showContacts:before {
	font-family: FontAwesome;
	content: "\f234";
	font-size: 11px;
	margin-right: 5px;
}

a.showContacts {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.showContacts:hover {
			color: #ccc;
}

a.showAttachments:before {
	font-family: FontAwesome;
	content: "\f0c6";
	font-size: 11px;
	margin-right: 5px;
}

a.showAttachments {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.showAttachments:hover {
			color: #ccc;
}

a.showRouting:before {
	font-family: FontAwesome;
	content: "\f064";
	font-size: 11px;
	margin-right: 5px;
}

a.showRouting {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a.showRouting:hover {
			color: #ccc;
}

/*---------------*/

td.searchRow > b {
			color: #fff;
			font-weight: normal;
			position: relative;
			top: 6px;
}

td.searchRow input,
td.searchRow select,
td.searchRow multiple,
td.searchRow textarea {
	margin-top: 5px;
}

#div_additionalSearch > table > tbody > tr:nth-child(3) > td a.dp-choose-date {
			margin-top: 5px;
}

#span_resourceName {
			padding: 25px 20px;
			padding-top: 0;
}

.span_AttachmentNumber {
			color: #FFF654;
			margin-left: 0px !important;
}

.sidemenuselected .span_AttachmentNumber {
			color: #666672;
}

.resource_tab_content {
			width: 630px !important;
}

.sidemenu {
			width: 170px;
			float: left;
}

.mainContent {
			width: 430px;
			padding: 10px;
}

.linedFormTable {
			width: 430px !important;
}

.rightPanel {
			text-align: left;
}

div.rightPanelLink {
			margin: 0;
			font-size: 12px;
}

div.rightPanelHeader {
			color: #1B76A9;
			margin-bottom: 5px;
}

#title-search {
			padding: 20px;
			padding-top: 0;
}

input[type="button"]:hover {
			cursor: pointer;
}

table.surroundBox table.noBorder {
			margin: 15px !important;
}

#resourcePromptForm table.noBorderTable input {
			color: #FFFFFF;
			font-family: "Arial", sans-serif;
			font-size: 11px;
			font-weight: normal;
			background: #1b76a9;
			border: none;
			padding: 5px 10px;
			text-transform: capitalize;
}

table.headerTable > tbody > tr > td > table:nth-child(1) > tbody > tr > td {
			padding: 25px;
			padding-top: 0;
}

/*--- My Queue Page Side Menu ---*/

a#OutstandingTasks:before {
	font-family: FontAwesome;
	content: "\f192";
	font-size: 11px;
	margin-right: 5px;
}

a#OutstandingTasks {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a#OutstandingTasks:hover {
			color: #ccc;
}

a#SavedRequests:before {
	font-family: FontAwesome;
	content: "\f0fe";
	font-size: 11px;
	margin-right: 5px;
}

a#SavedRequests {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a#SavedRequests:hover {
			color: #ccc;
}

a#SubmittedRequests:before {
	font-family: FontAwesome;
	content: "\f045";
	font-size: 11px;
	margin-right: 5px;
}

a#SubmittedRequests {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 12px;
}

a#SubmittedRequests:hover {
			color: #ccc;
}

.span_OutstandingTasksNumber {
			color: #FFF654;
			font-size: 85%;
			margin-left: 15px !important;
}

.span_SubmittedRequestsNumber {
			color: #FFF654;
			font-size: 85%;
			margin-left: 15px !important;
}

.span_SavedRequestsNumber {
			color: #FFF654;
			font-size: 85%;
			margin-left: 15px !important;
}

.selected .span_OutstandingTasksNumber {
			color: #666672;
			font-size: 85%;
			margin-left: 15px !important;
}

.selected  .span_SubmittedRequestsNumber {
			color: #666672;
			font-size: 85%;
			margin-left: 15px !important;
}

.selected .span_SavedRequestsNumber {
			color: #666672;
			font-size: 85%;
			margin-left: 15px !important;
}

#print-view a.helpfulLink {
			text-decoration: underline !important;
}

a.helpfulLink {
			text-decoration: underline !important;
}

/*--- Custom CSS for Login Box ---*/

label:nth-of-type(3) {
	margin-top: 5px;
}

.smallerText a:hover {
			color: #ccc;
}

/*--- New Custom CSS ---*/

#login-form {
			margin-top: 20px;
}

#login-form label:nth-of-type(1) {
			margin: 110px 0 15px 0 !important;
			text-align: center !important;
}

a#admin-link:before {
			font-family: FontAwesome;
			content: "\f023";
			font-size: 13px;
			margin-right: 5px;
}

a#admin-link {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 14px;
}

a#admin-link:hover {
			color: #ccc;
}

a#login-link:before {
			font-family: FontAwesome;
			content: "\f007";
			font-size: 13px;
			margin-right: 5px;
}

a#login-link {
			text-decoration: none;
			text-transform: capitalize;
			font-size: 14px;
}

a#login-link:hover {
			color: #ccc;
}

#loginbutton {
			margin-top: 13px !important;
}

#importPage p {
	margin-bottom: 15px;
}

#importPage legend {
	margin-bottom: 10px;
	font-weight: bold;
	width: 100%;
}

#importPage fieldset {
	margin-bottom: 20px;
}

input#resourceTypeID {
	margin-right: 5px;
}

/*--- Align Text When No Documents Fit the Query ---*/

div#div_searchResults > i {
	font-size: 18px;
	position: relative;
	top: 20px;
	left: 20px;
}

/*--- Capitalize Add/Edit Links ---*/

.div_mainContent a {
	text-transform: capitalize;
}

/*---  Adjust Edit Resource Form Modal Window ---*/

span#newParent {
	padding-bottom: 10px !important;
	display: block;
}

#newIsbn hr {
	margin-top: 10px;
}

#div_resourceForm input#submitProductChanges {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 15px;
}

#div_resourceForm input#submitProductChanges:hover {
	cursor: pointer;
}

#div_resourceForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_resourceForm input[value=cancel]:hover {
	cursor: pointer;
}

img.addParent {
	top: 4px;
	position: relative;
}

img.addIsbn {
	top: 4px;
	position: relative;
}

img.addOrganization {
	top: 1px;
	position: relative;
}

img.addAlias {
	top: 1px;
	position: relative;
}

/*--- Adjust Add New Subject Form Modal Window ---*/

#div_updateForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_updateForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Adjust Add New Note Form Modal Window ---*/

#div_noteForm input#submitResourceNoteForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_noteForm input#submitResourceNoteForm:hover {
	cursor: pointer;
}

#div_noteForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_noteForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Adjust Edit Acquisitions Form Modal Window ---*/

#div_resourceForm input#submitOrder{
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_resourceForm input#submitOrder:hover {
	cursor: pointer;
}

/*--- Adjust Edit Cost Information Form Modal Window ---*/

#div_resourceForm input#submitCost{
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_resourceForm input#submitCost:hover {
	cursor: pointer;
}

/*--- Adjust Edit Licenses Form Modal Window ---*/

#div_licenseForm input#submitLicense {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_licenseForm input#submitLicense:hover {
	cursor: pointer;
}

#div_licenseForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_licenseForm input[value=cancel]:hover {
	cursor: pointer;
}

img.addLicense {
	position: relative;
	top: 1px;
}

/*--- Adjust Edit Access Form Modal Window ---*/

#div_accessForm input#submitAccessChanges {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_accessForm input#submitAccessChanges:hover {
	cursor: pointer;
}

#div_accessForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_accessForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Adjust Edit Cataloging Form Modal Window ---*/

#div_catalogingForm input#submitCatalogingChanges {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_catalogingForm input#submitCatalogingChanges:hover {
	cursor: pointer;
}

#div_catalogingForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_catalogingForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Adjust Add Contact Form Modal Window ---*/

#div_contactForm input#submitContactForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_contactForm input#submitContactForm:hover {
	cursor: pointer;
}

#div_contactForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_contactForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Adjust Add Attachment Form Modal Window ---*/

#div_attachmentForm input#submitAttachmentForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_attachmentForm input#submitAttachmentForm:hover {
	cursor: pointer;
}

#div_attachmentForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_attachmentForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Center Label on File Import Page ---*/

label[for=uploadFile] {
	margin-left: 65px;
}

/*------------------------------*/
/*--- Admin Page Adjustments ---*/
/*------------------------------*/

.adminRightPanel a {
	text-transform: capitalize;
}

div#div_AdminContent .linedDataTable {
	margin-bottom: 10px !important;
}

/*--- Adjust Add New User Form Modal Window ---*/

#div_updateForm input#submitAddUpdate {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_updateForm input#submitAddUpdate:hover {
	cursor: pointer;
}

/*--- Adjust Edit Workflow Form Modal Window ---*/

#div_resourceForm input#submitWorkflowForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_resourceForm input#submitWorkflowForm:hover {
	cursor: pointer;
}

/*--- Adjust Add User Group Form Modal Window ---*/

#div_userGroupForm input#submitUserGroupForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_userGroupForm input#submitUserGroupForm:hover {
	cursor: pointer;
}

#div_userGroupForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_userGroupForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Adjust Add General Subject Form Modal Window ---*/

#div_updateForm input#submitGeneralSubjectForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_updateForm input#submitGeneralSubjectForm:hover {
	cursor: pointer;
}

/*--- Adjust Add Detailed Subject Form Modal Window ---*/

#div_updateForm input#submitDetailedSubjectForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_updateForm input#submitDetailedSubjectForm:hover {
	cursor: pointer;
}

#detailedSubjectForm input#submitDetailSubjectForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#detailedSubjectForm input#submitDetailSubjectForm:hover {
	cursor: pointer;
}

#detailedSubjectForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#detailedSubjectForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Adjust Import Funds Modal Window ---*/

#div_updateForm input#import-fund-button {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_updateForm input#import-fund-button:hover {
	cursor: pointer;
}

#div_updateForm input#cancel-fund-button {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_updateForm input#cancel-fund-button:hover {
	cursor: pointer;
}

/*--- Adjust Add Account Modal Window ---*/

#div_accountForm input#submitExternalLoginForm {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_accountForm input#submitExternalLoginForm:hover {
	cursor: pointer;
}

#div_accountForm input[value=cancel] {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

#div_accountForm input[value=cancel]:hover {
	cursor: pointer;
}

/*--- Remove Space to the Right of Main Nav Menu ---*/

.titleTable img {
	float: left;
}

/*--- Prevent Module Menu from Floating Left ---*/

.titleTable ul.tabs ul.coraldropdown img {
	float: none;
}

/*--- Add icon to Sidebar (Accounts) ---*/

a.showAccounts:before {
		font-family: FontAwesome;
		content: "\f0c0";
		font-size: 11px;
		margin-right: 5px;
}

/*--- IE 11 Fix for Sidemenu Link Color ---*/

.sidemenu span.link a {
	color: #fff;
}

.sidemenu span.link a:hover {
	color: #ccc;
}

/*--- Add Some Space Before Checkbox ---*/

input#stats {
		margin-left: 5px;
}

/*--- Capitalize Logout Link ---*/

.titleTable a {
		text-transform: capitalize;
}

/*--- Decorate Pagination Links ---*/

a.smallLink {
	font-size: 12px;
	text-decoration: none;
	color: #1B76A9;
}

/*--- Add Scrollbar to Subject Modal Window ---*/

.modalScroll {
	overflow: scroll;
	height: 400px;
}

/*--- Add Scrollbar to Existing ISBN Span ---*/
#existingIsbn {
	display: block;
	max-height: 80px;
	overflow: auto;
}

.newPaymentTable th {
	/*vertical-align:top;*/
	padding-left: 3px;
	text-align: left;
	font-weight: bold;
}

.newPaymentTable td {
	text-align: left;
	background: white;
	padding-left: 3px;
}

.paymentTable td {
	text-align: left;
	background: white;
	padding-left: 3px;
}

.costHistoryYear {
	width: 30px;
}
.costHistorySubStart {
	width: 60px !important;
}
.costHistorySubEnd {
	width: 60px !important;
}
.costHistoryFund {
	width: 150px;
}
.costHistoryPayment {
	width: 50px;
}
.costHistoryCurrency {
	width: 60px;
}
.costHistoryType {
	width: 80px;
}
.costHistoryCostDetails {
	width: 75px;
}
.costHistoryNote {
	width: 70px;
}
.costHistoryInvoice {
	width: 50px;
}
.costHistoryAction {
	width: 50px;
	text-align: center !important;
}
.paymentTableDiv {
	max-height: 300px;
	overflow: auto;
}

/*--- Help Menu Link ---*//

span#divider {
    font-size: 12px;
    position: relative;
    top: 4px;
}

a#help {
    text-decoration: none;
    font-size: 12px;
    position: relative;
    top: 4px;
    margin-left: 5px;
}

a#help:hover {
    color: #ccc;
}

a#help:before {
    font-family: FontAwesome;
    content: "\f059";
    font-size: 11px;
    margin-right: 3px;
}

td#setLanguage {
	vertical-align:middle;
}

/*--- Adjustments for Language Dropdown ---*/

select#lang {
    border: none;
    margin-left: 10px;
    background-color: #fff;
}

/*--- Issues Section ---*/

a.showIssues:before {
    font-family: FontAwesome;
    content: "\f071";
    font-size: 11px;
    margin-right: 5px;
}

#issueTable img {
	width: 20px;
	margin-left: 8px;
	position: relative;
	top: 4px;
}

#downTimeTable img {
	width: 20px;
	margin-left: 8px;
	position: relative;
	top: 4px;
}

div#openIssues {
    margin: 8px;
}

div#archivedIssues {
    margin: 8px;
}

div#currentDowntime {
    margin: 8px;
}

div#archivedDowntime {
    margin: 8px;
}

#newIssueForm table.thickboxTable {
    background-image: none !important;
    width: 100% !important;
    font-size: 12px;
}

#newIssueForm td {
	padding: 4px;
	vertical-align: top;
}

#newIssueForm label {
	font-weight: bold;
	color: #3D545D;
}

#newIssueForm table.thickboxTable h1 {
    width: auto !important;
    margin: 0;
    padding: 6px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #e6e5e9;
    -moz-border-radius: 0px;
    background-image: none;
    background: rgba(200, 200, 200, 0.5) url(../images/bg-diagonal-stripes.png) repeat top left !important;
    display: block;
    font-size: 14px;
    color: #3D545D;
}

#newIssueForm input#submitNewIssue {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-left: 5px;
}

#newIssueForm input#submitNewIssue:hover {
    cursor: pointer;
}

#newIssueForm input[value=cancel] {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
}

#newIssueForm input[value=cancel]:hover {
    cursor: pointer;
}

a#getCreateContactForm {
	text-transform: capitalize;
}

.issueResources {
	margin-top: 8px;
}

#resourceIDs {
	margin-top: 10px;
	width: 400px;
	margin-right: 30px;
}

#newIssueForm #resourceIDs option.entityArray {
	word-break: break-word;
    white-space: normal;
}

#newIssueForm td label {
    vertical-align: initial;
}

#newIssueForm > p {
	margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3D545D;
    margin-left: 5px;
}

#newDowntimeForm td {
	padding: 4px;
}

#newDowntimeForm table.thickboxTable {
    background-image: none !important;
    width: 100% !important;
    font-size: 12px;
}

#newDowntimeForm table.thickboxTable h1 {
    width: auto !important;
    margin: 0;
    padding: 6px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #e6e5e9;
    -moz-border-radius: 0px;
    background-image: none;
    background: rgba(200, 200, 200, 0.5) url(../images/bg-diagonal-stripes.png) repeat top left !important;
    display: block;
    font-size: 14px;
    color: #3D545D;
}

#newDowntimeForm label {
	font-weight: bold;
	color: #3D545D; 
}

#newDowntimeForm input#submitNewDowntime {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-left: 5px;
}

#newDowntimeForm input#submitNewDowntime:hover {
    cursor: pointer;
}

#newDowntimeForm input[value=cancel] {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
}

#newDowntimeForm input[value=cancel]:hover {
    cursor: pointer;
}

#newIssueForm input#createContact {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

#newIssueForm input#createContact:hover {
    cursor: pointer;
}

#inlineContact > div:first-child > .form-element:nth-of-type(2) {
    margin-top: 10px;
}

#inlineContact > div:nth-of-type(2) {
    margin-left: 10px;
}

#newIssueForm input#addEmail {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 2px 10px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

#newIssueForm input#addEmail:hover {
    cursor: pointer;
}

div#openIssues dd {
    word-break: break-word;
}

div#openIssues {
    line-height: 16px;
}

#openIssues a {
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}

div#archivedIssues dd {
    word-break: break-word;
}

div#archivedIssues {
    line-height: 18px;
}

#archivedIssues a {
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}

div#currentDowntime {
    line-height: 18px;
}

a#openDowntimeBtn {
    margin-bottom: 10px !important;
    display: inline-block;
}

a#archiveddowntimeBtn {
    margin-bottom: 10px !important;
    display: inline-block;
}

div#archivedDowntime {
    line-height: 18px;
}

a#archiveddowntimeBtn {
    margin-bottom: 10px !important;
    display: inline-block;
}

/*--- Import Page ---*/

#import_configuration_table td {
    padding:5px;
}
  
.import_column_num {
    width: 25px;
    text-align: center;
    margin-left: 10px;
}
 
#configuration {
    width: 300px;
    display: block;
    margin: 15px 0px;
}
 
.config_label {
    text-align: right;
}
 
.delimited_by {
    padding-left: 10px;
}
 
.delimiter {
   width: 30px;
   margin-left: 10px;
}
 
.check_label {
    margin-left: 5px;
}

#save_configuration {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-right: 5px;
}

#save_configuration:hover {
    cursor: pointer;
}

/*--- New Import Page ---*/
#importConfigColumns {
	width: 100%;
}

#importConfigColumnsLeft {
	width: 50%;
	float: left;
}

#importConfigColumnsRight {
	width: 50%;
	float: right;
}

#importConfigOrgMapping {
	margin: 50px 50px;
}

#importConfigOrgMapping table{
	width:100%;
}

#importConfigOrgMapping th {
	width: 50%;
}

#importConfigOrgMapping td {
}

#importConfigOrgMapping input {
	width: 100%;
}

div.ic-content {
	height:700px;
	width: 1024px;
	overflow-y: auto;
	overflow-x: hidden;
}

span.ic-label {
    display: inline-block;
    width: 190px;
    text-align: right;
    padding-right: 10px;
}

input.ic-column {
    width: 3em;
}

select.ic-dropdown {
}

div#ic-left-column {
    padding: 20px;
    padding-bottom: 0;
}

div#ic-left-column a {
    margin-left: 200px;
}

div#ic-right-column {
    padding: 20px;
    padding-bottom: 0;
}

div#ic-right-column a {
    margin-left: 200px;
}

/*--- Add New Resource ---*/

table#resource-type td {
    width: 100% !important;
    padding: 0;
    float: left;
    word-wrap: inherit;
    line-height: 18px;
}
 